
/* thomas branch start */
*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: #000000;
    padding: 20px;
    height: 200px;
    width: 100%;
    font-size: 0.8em;

}


header nav ul li a{   
    color: rgb(255, 255, 255);
    text-decoration: none;
    list-style: none;
}
/* -------------------------------------------------- Deutsch/Englisch etc. */
.box1{
    display:flex ;
    position: absolute;
    justify-content: left;   

}

.box1 li{
    padding: 30px;
    justify-content: space-between;
}
/* ----------------------------------------------- */
.box2{
    display:flex ;
    margin-left:300px ;
}

.box2 li{
    padding: 30px;
}
/* ----------------------------------------------- */
.box3{
    display:flex ;
    justify-content: right;

}
.box3 li{
    
    padding: 30px;
    margin-top: -80px;
}

/* --------------------------------- */

.mainnav {
    display:flex ;
    
    font-size: 1em;
    justify-content: center;
}
.mainnav li{
    padding: 40px;

}

header nav ul li a:hover{   
    color: rgba(255, 255, 255, 0.464);
}


/* ---------------------- */

.video{
    width: 100vw;
    height: 100%;
    background-image: cover;
}





.border{
    border: solid red 2px;
    height: 300px;
    width: 300px;
    position: absolute;
}

.imgmer1{
    width: 100%;
    height: 100%;
    
}

p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    color: aliceblue;
}
/* thomas branch css ende */


}
.gallery {
    margin-top: 128px;
    margin-right: 120px;
    margin-left: 120px;
    padding-bottom: 78px;
  }
  
  .grid-container {
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 200px;
    grid-row-gap: 99px;
    grid-template-columns: 0.75fr 1fr;
    grid-template-rows: auto auto auto;
  }
  
  .item-1 {
    grid-column-start: span 1;
    grid-column-end: span 1;
    grid-row-start: span 1;
    grid-row-end: span 1;
  }
  
 .item-2 {
    grid-column-start: span 1;
    grid-column-end: span 1;
    grid-row-start: span 1;
    grid-row-end: span 1;
    align-self: center;
  }
  
.item-3 {
    grid-column-start: span 1;
    grid-column-end: span 1;
    grid-row-start: span 1;
    grid-row-end: span 1;
    align-self: center;
  }
  
.item-4 {
    grid-column-start: span 1;
    grid-column-end: span 1;
    grid-row-start: span 1;
    grid-row-end: span 1;
  }
  
 .item-5 {
    grid-column-start: span 1;
    grid-column-end: span 1;
    grid-row-start: span 1;
    grid-row-end: span 1;
  }




